################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

*.sqlite
/cs/CouchPotato/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
