
@model CardViewModel

    <div class="card" style="width: 18rem;">
        <img src="@Model.src" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">@Model.title</h5>
            <p class="card-text">@Model.description</p>
            <button type="button" class="btn btn-success" onclick="upvote()">up</button>
            <button type="button" class="btn btn-Danger" onclick="downvote()">down</button>
        </div>
    </div>