
@model EndscreenViewModel

<div id="cardcontainer" class="d-flex justify-content-evenly">
    @foreach (var x in @Model.shows)
    {
    <div class="card mr-2" style="width: 18rem;">
        <img src="@x.CoverPath" class="card-img-top">  
        <div class="card-body">
            <h5 class="card-title">@x.Name</h5>
            <p class="card-text">@x.Description</p>
        </div>
    </div>
    }
</div>

<div class="d-flex justify-content-center">
    <a class="btn btn-success btn-lg" asp-area="" asp-controller="Main" asp-action="Index">Finish</a>
</div>