<div class="text-center">
    <h1 class="display-4">Welcome to Couchpotato</h1>
    <p>Create a lobby or join your friends</p>
</div>
    

<div class="container" id="btnContainer">
    <div class="row">
        <div class="col-6">
            <button type="button" class="btn btn-warning d-block w-100" id="btnShowCreateLobby" onclick="ShowCreateLobby()">Create new Lobby</button>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-warning mb-3 d-block w-100" id="btnShowJoinLobby" onclick="ShowJoinLobby()">Join Lobby</button>
        </div>
    </div>
</div>
<div class="container" id="createLobbyContainer" style="display:none;">
    <div class="row">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">name</span>
            <input id="inputNameC" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <button type="button" class="btn btn-warning d-block w-100" id="btnCreateLobby">Confirm</button>
    </div>
</div>
<div class="container" id="joinLobbyContainer" style="display:none;">
    <div class="row">
        <div class="input-group  mb-3">
            <span class="input-group-text" id="basic-addon1">name</span>
            <input id="inputNameJ" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group  mb-3">
            <span class="input-group-text" id="basic-addon1">ID</span>
            <input id="lobbyid" type="text" class="form-control" placeholder="Lobby Id" aria-label="Lobby Id" aria-describedby="basic-addon1">
        </div>
        <button type="button" class="btn btn-warning mb-3 d-block w-100" id="btnJoinLobby">Confirm</button>
    </div>
</div>

@section scripts{ 
    <script type="text/javascript">

        $(document).ready(function () {
            $("#btnCreateLobby").click(function () {
                createLobbyClick();
            });
            $("#btnJoinLobby").click(function () {
                joinLobbyClick();
            });
        })
        function joinLobbyClick() {
            var name = $("#inputNameJ").val();
            var lobbyid = $("#lobbyid").val();
            if (name != "" && lobbyid != "") {
                $.get("/Main/joinLobby", { name: name, lobbyid: lobbyid })
                    .done(function (data) {
                        window.open("/Main/Lobby?name=" + name + "&userid=" + data.userid + "&lobbyid=" + data.lobbyid + "&host=false", "_self");
                    })
                    .fail(function (data) {
                        alert(data);
                    })
            }

        }
        function createLobbyClick() {
            name = $("#inputNameC").val();
            if (name != "") {
                $.get("/Main/createLobby", { name: name })
                    .done(function (data) {
                        window.open("/Main/Lobby?name=" + name + "&userid=" + data.userid + "&lobbyid=" + data.lobbyid+ "&host=true", "_self");
                    })
                    .fail(function (data) {
                        alert(data);
                    })
            }
        }
        function ShowJoinLobby() {
            $("#btnContainer").hide();
            $("#joinLobbyContainer").show();
        }
        function ShowCreateLobby() {
            $("#btnContainer").hide();
            $("#createLobbyContainer").show();
        }
    </script>
}
